<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
</head>
<body>
    <h1>Список клиентов</h1>
    <ul>
        {% for client in clients %}
            <li>ID: {{ client.id }}, Имя: {{ client.name }}, Email: {{ client.email }}, Телефон: {{ client.phone }}
                <a href="{% url 'edit_client' client.id %}">Редактировать</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_client' %}">Добавить клиента</a>
    <br>
    <a href="{% url 'add_policy' %}">Добавить полис</a>
    <br>
    <a href="{% url 'add_claim' %}">Добавить страховой случай</a>
</body>
</html>
ml>